<div class="container">
  <h1 class="title">asdasdsadsa</h1>
  <div>
    <div class="periodic-table">
      <ul>
      <% @elements["order"].each do |element| %>
        <li>
          <%= @elements[element]["name"] %>
          <%= @elements[element]["number"] %>-
          <%= @elements[element]["period"] %>,
          <%= @elements[element]["atomic_mass"] %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<%# <table>
  <tr>
    <td>

    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table> %>



