// ----- Element Index ----- //

.title{
  margin-top: 16px;
  margin-bottom: 32px;
}

.periodic-table{
  display: grid;
  grid-template-columns: repeat(18, 80px);
  grid-template-rows: repeat(7, 80px);
  margin-bottom: 32px;
}

.elements-diatomicnonmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #0f5f1a;
}

.elements-alkalimetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #a02626;
}

.elements-alkalineearthmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #a07526;
}

.elements-transitionmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #810000;
}

.elements-metalloid{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #165b77;
}

.elements-polyatomicnonmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #301677;
}

.elements-noblegas{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #9c2366;
}

.elements-post-transitionmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #238179;
}

.elements-actinide{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #00644b;
}

.elements-unknownbutpredictedtobeanalkalimetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #1a1a1a;
}

.elements-unknownprobablytransitionmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #1a1a1a;
}

.elements-unknownprobablypost-transitionmetal{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #1a1a1a;
}

.elements-unknownpredictedtobenoblegas{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #1a1a1a;
}

.elements-unknownprobablymetalloid{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #1a1a1a;
}

.elements-lanthanide{
  transition: 0.5s ease;
  border: 1px solid rgb(240, 240, 240);
  background-color: #442c58;
}

.elements:hover{
  transform: scale(1.05);
}

.element-small{
  font-size: 8px;
}


.element-big{
  font-size: 20px;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 4px;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  text-decoration: none;
  color: white;
}

.elements {
  margin: 2px 2px;
  padding: 6px 6px;
  transition: 0.5s ease;
}

.elements:hover {
  transform: scale(1.07);
}

// ----- Element Show ----- //

.element-show {
  height: 280px;
  width: 280px;
  margin: 0 0 16px 0;
  padding: 12px 16px;
  box-shadow: 2px 5px 16px #00000038;
  .right-side{
    width: 25px;
  }
}

.element-show-small {
  font-size: 30px;
}

.element-show-small-number {
  font-size: 30px;
}

.element-show-ext-small {
  font-size: 22px;
  // margin-left: 95px;
}

.element-show-big {
  font-size: 80px;
  font-weight: bolder;
}
